#body
  #body_left
    #left_pad
      - unless @login.error_message.blank?
        .error= @login.error_message

      .main.details
        %h2.form Log In
        - build_form_for @login, :url => session_url do |f|
          = f.text_field :login, :label => "Username or Email"
          = f.password_field :password
          = f.check_box :remember_me
  
          .actions
            = f.submit