#app_item

  -# show app item header
  #app_item_top
    #app_item_top_left
      %h2= project.title
      %h3= project.short_description
    #app_item_top_right
      = view_slideshow_link(project)
    = clear
  
  -# show default screenshot
  #app_item_image
    = image_tag(project.screenshot_url, :id => "current_screenshot")
  
  #app_item_links
    #app_item_links_left
      = partial "projects/v2_parts/ratings", :project => project
    #app_item_links_right
      %ul
        %li
          = bookmark_control(project)
    = clear
  
  #app_item_tags
    %strong Tags:
    = project.tag_list.map{|tag| link_to(tag.capitalize, projects_url(:tag => tag), :rel => "tag")}.join(", ")

