#body
  #body_left
    #left_pad
      .details
        %h3= @form_title
        #reset_password_form
          %p Enter in a new password and click "Set Password" in order to update.
          - build_form_for @user, :url => @submit_url do |f|
            = f.password_field :password, :label => "New Password"
            = f.password_field :password_confirmation, :label => "New Password Confirmation"
            - unless params[:auth].blank?
              = hidden_field_tag :auth, params[:auth]
            .actions
              = submit_tag "Set Password"
              or
              = link_to "cancel", :back