#project_grid
  - if local_assigns[:projects]
    .projects
      = grid_title
      -# display projects
      = partials projects
      - if projects.empty?
        %p.empty
          No applications currently 
          = br
          exist in the gallery
      
    -# display paging
    = clear
    .loading= image_tag("loading.gif", :alt => "Loading...")
    = paging(projects)