#project_grid
  - if local_assigns[:projects]
    %h2= grid_title

    -# Display projects
    .projects= partial @projects
  
    - if @projects.empty?
      %p.empty
        No applications currently 
        = br
        exist in the gallery
      
    -# display paging
    = clear
    .loading.right{hidden}= image_tag("loading.gif", :alt => "Loading...")
    = paging(projects)