= partial "layouts/about_us"
= partial "layouts/alert"

.action-button
  = link_to_image "add.png", "#", :label => "Submit a New Application", :class => "submit toggle", :rel => "#new_project_tab_form"
  #new_project_tab_form.hidden= render :partial => "projects/parts/mini_form"

- tabs do
  - tab "Upcoming", "upcoming_apps", :class => "scroll-250" do
    - if @upcoming.size > 0
      = partial "projects/parts/list", :projects => @upcoming
    
    - else
      %p No upcoming applications. Submit one now!

  - tab "Bookmarked", "projects_add", :class => "scroll-250" do
    #my_bookmarks= partial "bookmarks/bookmark_list", :projects => @my_projects


-# - tabs do
-#   - tab "Resources", :resources do
-#     %ul
-#       %li= link_to "Rails Jedi", "http://www.railsjedi.com"
-#       %li= link_to "Peepcode", "http://www.peepcode.com"
-#   - tab "Archives", :archives do
-#     %ul
-#       %li= link_to "March 2008 (12)", "#"
-#       %li= link_to "February 2008 (5)", "#"
-#       %li= link_to "January 2008 (4)", "#"
-#       %li= link_to "December 2008 (4)", "#"
-# 
-# 
-#   - tab "Most Rated", :mostrated do
-#     %ul
-#       %li <a href="##/others/601/s-a-travellers/">S A Travellers</a> - 48 votes
-#       %li <a href="##/web-development/29/webdesignerro/">WebDesigner.ro</a> - 23 votes
-#       %li <a href="##/web-development/27/yesterday-is-here/">Yesterday is Here</a> - 20 votes
-#       %li <a href="##/others/770/earth-echo/">Earth Echo</a> - 18 votes
-#       %li <a href="##/web-development/786/lataka/">Lataka</a> - 17 votes
-#       %li <a href="##/web-development/677/nebon-media/">Nebon Media</a> - 15 votes
-#       %li <a href="##/personal/772/brian-regan/">Brian Regan</a> - 15 votes
-#       %li <a href="##/corporate/788/scala-cinc/">Scala Cinc</a> - 14 votes
-#       %li <a href="##/others/405/haze-game/">Haze Game</a> - 13 votes
-#       %li <a href="##/web-development/705/samir-bharadwaj/">Samir Bharadwaj</a> - 13 votes

- tabs do
  - tab "Recent Activity", "recent_activity", :class => "scroll-200" do
    = partial "projects/parts/activity_list", :activities => @latest_activities  
  
  - tab "Tag Cloud", "tagcould" do
    .tags
      - tag_cloud @tags, %w(level-1 level-2 level-3) do |tag, css_class|
        %span{:class => css_class, :title => "#{tag.count} projects"}
          = link_to_if(tag.name != @tag, tag.name, projects_url(:tag => tag.name)) + ((@tags.last != tag) ? "," : "")

  - tab "Top Apps", "top_counts" do
    %strong Top Downloaded
    %ul
      - @top_downloaded.each do |project|
        %li
          = link_to project.title, project
          %span.stat= pluralize(project.downloads, "download")

    %strong Top Bookmarked
    %ul
      - @top_bookmarked.each do |project|
        %li
          = link_to project.title, project
          %span.stat== Bookmarked by #{pluralize(project.bookmarks_count, "person")}  
    
  -# - tab "Categories", :categories do
  -#   :erb
  -#     <ul>
  -#       <li class="cat-item cat-item-32">
  -#         <a href="#category/arts-and-photography/" title="View all posts filed under Arts and Photography">Arts and Photography</a>
  -#       </li>
  -#       <li class="cat-item cat-item-33">
  -#         <a href="#category/beauty-and-health/" title="View all posts filed under Beauty and Health">Beauty and Health</a>
  -#       </li>
  -#       <li class="cat-item cat-item-19">
  -#         <a href="##/category/blog/" title="View all posts filed under Blog">Blog</a>
  -#       </li>
  -#       <li class="cat-item cat-item-18">
  -#         <a href="##/category/corporate/" title="View all posts filed under Corporate">Corporate</a>
  -#       </li>
  -#       <li class="cat-item cat-item-5">
  -#         <a href="##/category/css-gallery/" title="View all posts filed under CSS Gallery">CSS Gallery</a>
  -#       </li>
  -#       <li class="cat-item cat-item-4">
  -#         <a href="##/category/internet/" title="View all posts filed under Internet">Internet</a>
  -#       </li>
  -#       <li class="cat-item cat-item-8">
  -#         <a href="##/category/organization/" title="View all posts filed under Organization">Organization</a>
  -#       </li>
  -#       <li class="cat-item cat-item-1">
  -#         <a href="##/category/others/" title="View all posts filed under Others">Others</a>
  -#       </li>
  -#       <li class="cat-item cat-item-53">
  -#         <a href="##/category/personal/" title="View all posts filed under Personal">Personal</a>
  -#       </li>
  -#       <li class="cat-item cat-item-20">
  -#         <a href="##/category/resources/" title="View all posts filed under Resources">Resources</a>
  -#       </li>
  -#       <li class="cat-item cat-item-7">
  -#         <a href="##/category/web-development/" title="View all posts filed under Web Development">Web Development</a>
  -#       </li>
  -#     </ul>

  -# - tab "Top Rated", :comments do
  -#   :erb
  -#     <ul>
  -#       <li>Layla: <a href="##/corporate/762/home-cleaning/#comment-18" title="View the entire comment by Layla">I've actually been thinking about</a>
  -#       </li>
  -#       <li>Aad Ouwehand: <a href="##/others/601/s-a-travellers/#comment-7" title="View the entire comment by Aad Ouwehand">Inspiring</a>
  -#       </li>
  -#       <li>khax: <a href="##/others/555/olly-hite/#comment-5" title="View the entire comment by khax">cool site!</a>
  -#       </li>
  -#     </ul>

= partial "layouts/credits"