- projects = [] unless local_assigns[:projects]

%ul.project-list
  - projects.each_with_index do |project, index|
    %li{is_first(index)}
      %p
        = link_to_image project.thumb_url, project
        = link_to(project.title, project)
        = br
        - if project.user_rating
          Rated 
          = project.user_rating.rating
          Stars 
          - if project.user_rating.created_at
            = time_ago_in_words(project.user_rating.created_at)
            ago.
        - elsif project.last_changed
          Last modified 
          = time_ago_in_words(project.last_changed) 
          ago.

        = clear
  - if local_assigns[:action]
    %li.action
      = link_to action.first, action.last