- if local_assigns[:project]  
  - div_for(project, :class => cycle("start-row", "")) do
    %h2= link_to h(project.title), project_url(project), :rel => "bookmark", :title => h(project.short_description)
    %p= project.short_description
    
    -# show default screenshot
    .screen= link_to image_tag(project.screenshot_url), project_url(project)
    
    -# show ratings
    = partial "projects/parts/ratings", :project => project, :rating_size => "small"
    
    -# show links
    = partial "projects/parts/links", :project => project
