- active_tab :gallery

#body
  #body_left
    #left_pad
      -# Display projects
      = partial "projects/parts/grid", :projects => @projects
      
  #body_right
    = partial "layouts/about_us"
    #submit_app
      = link_to_image "template/submit_app.gif", "#", |
                      :label => "Submit a New Application", |
                      :class => "submit toggle", :rel => "#new_project_tab_form" |
    
    = render :partial => "projects/parts/mini_form"
    = partial "layouts/searchbox"

    = partial "projects/parts/tabs"
    
  = clear