- title @project.title
- meta_keywords "#{h(@project.meta_keywords)} #{AppConfig.default_meta_keywords}"
- meta_description "#{h(@project.short_description)}"

#body
  #body_left
    #left_pad
      -# Display projects
      = partial "projects/v2_parts/details", :project => @project

      -# - if @project.is_submitted?
      -#   -# show comments list
      -#   = partial "comments/comments", :comments => @project.comments
      -# 
      -#   -# show comment form
      -#   .details.rounded
      -#     %h2= "Share your thoughts about this application: "
      -#     = partial "comments/form", :comment => @comment
      -# - else
      -#   = partial "projects/parts/submit_panel", :project => @project
      
  #body_right  
    #go_back
      = link_to_image "back-arrow-sm.png", projects_url(:page => session[:page]), :label => "Back to Gallery..."

    - right_box "BLAH" do
      = partial "projects/v2_parts/about", :project => @project
    
    = partial "projects/tabs/screenshots", :object => @project.screenshots
    = partial "projects/tabs/versions", :object => @project.versions
    = partial "projects/tabs/hosted_applications", :object => @project.hosted_instances
    - if @project.is_submitted?
      = partial "projects/tabs/project_activity", :activities => @latest_activities
    = approve_button(@project)

  = clear