- version = Version.new unless local_assigns[:version]

- build_form_for [@project, version], :html => {:multipart => true} do |f|
  
  .attach-link
    - f.text_field :link, :label => "Download Link" do
      .text-right= link_to "Upload Version", "#", :class => "set-upload"
  
  .attach-download{hidden}
    - f.file_field :download, :label => "Upload Tarball", :size => "25" do
      .text-right= link_to "Set Download Link", "#", :class => "set-link"

  = f.text_field :title, :label => "Version Name"
  = f.text_area :notes, :label => "Update Notes (optional)"
  - if version.new_record?
    = f.text_field :antispam, :label => AppConfig.spam_question, :separator => ""
  
  .actions
    - if version.new_record?
      = f.submit "Add Version"
    - else
      = f.submit "Update Version"
    or
    = link_to "cancel", project_url(@project), :class => "switch-to-first"
    = progress
  