- if local_assigns[:activity]
  %span.activity{:class => activity.target_type.to_s.downcase}
  
    = activity.user_name
    = activity.action_name
    = activity.midsentence
    = activity_target_link(activity)

    - if activity.project_id
      = activity.endconnector
      = link_to("#{activity.project_name}.", project_url(:id => activity.project_id))
    - else
      == #{activity.endconnector}.
    
    %span.when
      = time_ago_in_words(activity.happened_at)
      ago