- user = @user unless local_assigns[:user]

-# pick the correct form id
- if local_assigns[:ajax]
  - html_options = {:id => "user_form_ajax", :class => "ajax-form mini-form"}
- else
  - html_options = {:id => "user_form"}

- build_form_for user, :html => html_options do |f|
  = f.error_messages
  = f.password_field :password
  = f.password_field :password_confirmation
  
  .actions
    = f.submit "Change Password"
    or
    = link_to "cancel", user_url(:id => user, :show => "about", :format => :ajax ), :class => "restore"
    = progress