#footer
  .links
    %strong LINKS:
    = link_to "Home", root_url
    |
    = link_to "Projects", root_url
    |
    = link_to "Log In", new_session_url
    |
    = link_to "About", about_url

    
  
  .about
    .copyrights
      == © #{current_year}
      Open Source Rails
    .credits
      Brought to you by:
      = link_to "RailsJedi", "http://www.railsjedi.com"


  - unless production?
    = partial("layouts/debug")

  -# = clear
  -# #footer
  -#   %p
  -#     -# Source code available <a href="/projects/opensrcrails">here</a>.
  -#   
  -#   - unless production?
  -#     = partial("layouts/debug")