#footer
  .links
    %strong LINKS:
    = link_to "Gallery", root_url
    |
    = link_to "Profile", user_url(current_or_anon_user)
    |
    = link_to "About", about_url
    |
    = link_to "Blog", blog_url
    - if AppConfig.feedback_link
      |
      = link_to "Feedback", AppConfig.feedback_link
    - unless logged_in?
      |
      = link_to "Login", new_session_url
      |
      = link_to "Sign Up", new_user_url
  
    .credits
      == &copy; #{AppConfig.site_name}
      by
      = link_to "RailsJedi", "http://www.railsjedi.com"
  .about
    = partial("layouts/social_media") if AppConfig.show_social_media
      
  = clear  
  
