#footer
  .links
    %strong LINKS:
    = link_to "Gallery", root_url
    - if logged_in?
      |
      = link_to "Edit Profile", edit_user_url(current_user)
    |
    = link_to "About", about_url
    |
    = link_to "Blog", blog_url
    - unless logged_in?
      |
      = link_to "Login", new_session_url
      |
      = link_to "Sign Up", new_user_url

  
  .about
    .credits
      Site developed by
      = link_to "RailsJedi", "http://www.railsjedi.com"
    .credits
      Logo designed by
      = link_to "VivaLogo", "http://www.vivalogo.com"
      
  = clear