#header
  %h1
    %a.replace#logo{:href => root_url, :name => "logo", :title => AppConfig.site_name}
      %span &nbsp;
      = AppConfig.site_name

  #menu
    %ul
      %li= menu_item("Home", root_url, current_page?(root_url))
      %li= menu_item("About", about_url, current_page?(about_url))
      %li= menu_item("Login", new_session_url, current_page?(new_session_url))
      %li= menu_item("Create Account", new_user_url, current_page?(new_user_url))
    = clear
