#header
  = partial "sessions/login_panel"
  %h1
    %a.replace#logo{:href => root_url, :name => "logo", :title => AppConfig.site_name}
      %span &nbsp;
      = AppConfig.site_name

  #menu
    %ul
      - if active_tab.is_a? String
        %li= menu_item(active_tab, url_for, true)
      %li= menu_item("Gallery", root_url, active_tab == :gallery)
      %li= menu_item("About", about_url, active_tab == :about)
      %li= menu_item("Blog", blog_url, active_tab == :blog)
      - if logged_in?
        %li= link_to menu_tag("Log Out"), session_url, :method => :delete, :confirm => "Are you sure you want to log out?"
      
    = clear
