#header
  %h1
    %a.replace#logo{:href => root_url, :name => "logo", :title => AppConfig.site_name}
      %span &nbsp;
      = AppConfig.site_name

  #menu
    %ul
      %li= menu_item("Home", "#home", true)
      %li= menu_item("About", "#about")
      %li= menu_item("Login", "#login")
      %li= menu_item("Create Account", "#create_account")
    = clear
