#header
  %h1
    %a.replace#logo{:href => root_url, :name => "logo", :title => AppConfig.site_name}
      %span &nbsp;
      = AppConfig.site_name

  .address
    = link_to image_tag("slogan.png"), AppConfig.site_url
    
  #menu
    %ul
      - if active_tab.is_a? String
        %li= menu_item(active_tab, url_for, true)
      %li= menu_item("Gallery", gallery_url, active_tab == :gallery)
      %li= menu_item("Upcoming", upcoming_projects_url, active_tab == :upcoming)
      %li= menu_item("About", about_url, active_tab == :about)
      - if logged_in?
        %li= link_to menu_tag("Log Out"), session_url, :method => :delete, :confirm => "Are you sure you want to log out?"
      
    = clear
  = partial "sessions/login_panel"
